.row {
  display: flex;
}

.column-full {
  width: 100%;
}

header,
nav,
ul {
  display: flex;
}

h1 {
  flex-basis: calc(100% / 3);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: #eb7200;
}

nav {
  flex-basis: calc(200% /3);
}

ul {
  flex-basis: 50%;
  list-style: none;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  padding-right: 10%;
}

.line {
  border-left: 1px solid rgb(70, 69, 69);
}

body {
  font-family: sans-serif;
}

.search-box {
  border: none;
  width: 300px;
  height: 30px;
}

.search {
  width: calc(100% / 3);
  margin: auto;
  border: 3px solid rgb(242, 171, 40);
  border-radius: 5%;
  margin-top: 20px;
}

.search-button {
  height: 40px;
  width: 80px;
  color: white;
  background-color: #eb7200;
  font-size: 18px;
  font-weight: 800;
  border-radius: 5%;
  border-style: none;
  margin-left: 35px;
  margin-top: 2px;
  margin-bottom: 2px;
}

div.row-picture {
  background-image: url("images/hero-image.webp");
  width: 100%;
  height: 500px;
  background-size: cover;
}

div.learn {
  padding: 20%;
}
