.row {
  display: flex;
}

.column-full {
  width: 100%;
}

header,
nav,
ul {
  display: flex;
}

h1 {
  flex-basis: calc(100% / 3);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: #eb7200;
}

nav {
  flex-basis: calc(200% /3);
}

ul {
  flex-basis: 50%;
  list-style: none;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}

li {
  padding-right: 10%;
}

.line {
  border-left: 1px solid rgb(70, 69, 69);
}

body {
  font-family: sans-serif;
}
